<!DOCTYPE html>
<html>
<!--
Copyright 2016-2024 Hyperagon (https://hyperagon.github.io/)

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    For more informtion, visit <https://www.gnu.org/licenses/agpl-3.0.html>.
-->
<title>Loopy Looper</title>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="NOINDEX,NOFOLLOW" />
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
<div id="title"><h1>Loopy Looper 5</h1></div>
<div class="content">
    <canvas id="canvas" width="700" height="700">This is a canvas element and, if you're seeing this then, your browser doesn't support it.</canvas>
    <script>
        addControls();
        redraw();
    </script>
    <noscript>
        <br />
        This website uses Javascript and you need to unblock it if you want to use it.
    </noscript>
</div>
</body>
</html>
